body {
  margin: 0;
  background-color: #000;
}

.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.slide {
  display: none; /* hide all slides by default */
}

.slide img {
  width: 100%;
  height: auto;
}

.fade {
  animation: fade 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
