body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #2c3e50;
}

.slide {
  display: none; /* Hide all slides initially */
  width: 100vw;
  height: 100vh;
  position: relative;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fade {
  animation: fade 1s;
}
@keyframes fade { from {opacity: .4} to {opacity: 1} }
