body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

.slideshow-container {
    max-width: 600px;
    margin: 20px auto;
    position: relative;
}

.slide {
    display: none;
    width: 100%;
    border-radius: 10px;
}
